.header__menu {
    position: relative;
}
#sub_cat {
    position: absolute;
    background-color: #fff;
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 12rem;
    transition: all 0.3s;
    transition-delay: 0.2s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10;
    display: none;
}
#sub_cat li a {
    padding: 0.8rem;
}
.cate:hover #sub_cat {
    display: block;
}
